<div class="container">
    <h1>{{ titulo }}</h1>
    <form [formGroup]="inscripcionForm" (ngSubmit)="guardarInscripcion()">
      <div>
        <label for="participanteId">Participante ID</label>
        <input formControlName="participanteId" id="participanteId" type="number" />
      </div>
      <div>
        <label for="eventoId">Evento ID</label>
        <input formControlName="eventoId" id="eventoId" type="number" />
      </div>
      <div>
        <label for="fechaInscripcion">Fecha de Inscripción</label>
        <input formControlName="fechaInscripcion" id="fechaInscripcion" type="date" />
      </div>
      <button type="submit">Guardar</button>
    </form>
  </div>
  